#formbox {
	border: 1px solid black;
	margin-top: 5%;
	width: 500px;
	height: 400px;
}
#loginbox{
 width: 500px;
 height: 70px;
 background: lightgrey;
 font-size: 30px;
 text-align: left;

}
input[type=email],input[type=password]{
	width: 450px;
	height: 40px;

}
input[type=submit]{
	width: 450px;
	float: center;
	height: 40px;
}
input[type=text]{
	width: 220px;
	height: 40px;
}
#link {
	padding: 20px;

}
#link a{
	text-decoration: none;
	font-size: 15px;
	padding: 20px;
}